nav {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  height: 15vh;
}

nav a {
  color: white;
  font-family: "Helvetica";
  text-decoration: none;
  margin: 2%;
}